<div class="dsc-left-nav-menu">
    <h5 class="dsc-left-nav-menu__title">Mi cuenta</h5>
    <ul class="dsc-left-nav-menu__links">
        <ng-container *ngFor="let link of data.links">
            <ng-container *ngIf="hasPermission(link.permission)">
                <li
                class="dsc-left-nav-menu_links-link" (click)="link.method ? link.method():null">a
                <span>{{link.name}}</span>
                </li>
            </ng-container>
        </ng-container>
    </ul>
</div>