<div class="dsc-left-nav-menu">
    <h5 class="dsc-left-nav-menu__title">Mi cuenta</h5>
    <ul class="dsc-left-nav-menu__links">
        <li class="dsc-left-nav-menu__links-link">
            <i class="fas fa-user"></i>
            <span>Perfil</span>
        </li>
        <li class="dsc-left-nav-menu__links-link">
            <i class="fas fa-cog"></i>
            <span>Cuenta personal</span>
        </li>
        <li class="dsc-left-nav-menu__links-link">
            <i class="fas fa-clipboard"></i>
            <span>Historial</span>
        </li>
        <li class="dsc-left-nav-menu__links-link">
            <i class="fas fa-comment"></i>
            <span>Comentarios</span>
        </li>
    </ul>
</div>