
    

    <div class="login-container">
        <div class="login-form">
            <img src="/assets/images/logo_main.png" alt="Logo" class="login-form-logo">
            <form form="loginForm" (ngSubmit)="autenticate()">
            <div class="login-form-content">
                
                <h1>Bienvenido de nuevo</h1>
                <p>Gracias por volver a tu sitio favorito, por favor llenar el formulario.</p>
                

                <!-- Nombre -->
                <div formGroupName="person">
                    <div class="login-form-input">
                        <label>Nombre*: </label>
                        <input type="text" placeholder="Nombre" formControlName="name">
                        <small class="bg-danger text-light mt-1 px-2 py-1 rounded"
                            *ngIf="fp.name.errors && loginSubmitted"
                        >
                        <ng-container ngSwitch="fp.name.value">
                        <ng-container *ngSwitchCase="''">El nombre es requerido!</ng-container>
                        <ng-container *ngSwitchDefault>El nombre es invalido!</ng-container >
                        </ng-container >
                        </small>
                    </div>
                    <div class="login-form-input">
                        <label>Apellido*: </label>
                        <input type="text" placeholder="Apellido" formControlName="lastname">
                        <small class="bg-danger text-light mt-1 px-2 py-1 rounded"
                            *ngIf="fp.lastname.errors && loginSubmitted"
                        >
                        <ng-container ngSwitch="fp.lastname.value">
                        <ng-container *ngSwitchCase="''">El nombre es requerido!</ng-container>
                        <ng-container *ngSwitchDefault>El nombre es invalido!</ng-container >
                        </ng-container >
                        </small>
                    </div>
                </div>
                <!-- Email -->
                <div class="login-form-input">
                    <label>Email*: </label>
                    <input type="email" placeholder="Email" formControlName="email">
                 <!-- <small class="bg danger text light at 1 px 2 py 1" *ngIf="!loginForm.email.isValid() && password.touched">{{loginForm.email.error}}</small> -->
                </div>
                <!-- Contraseña -->
                <div class="login-form-input">
                    <label>Contraseña*:</label>
                    <input type="password" placeholder="Contraseña" formControlName="password">
                    <!-- <small class="bg danger text light at 1 px 2 py 1" *ngIf="!loginForm.password.isValid() && password.touched">{{loginForm.password.error}}</small> -->
                </div>
                <small>Olvidé contraseña</small>
                <div class="login-form-buttons">
                    <button class="login-form-buttons_signup">Registrarse</button>
                    <button class="login-form-buttons_signin" type="submit" [disabled]="!loginForm.valid"> Iniciar sesión</button>
                </div>
            </div>
        </form>
        <!-- Interests -->
        <div formArrayName="interests">
            <button (click)="addInt()" type="button">
                Agregar
            </button>
            <ng-container *ngFor="let interest of interests; let i=index;">
                <div class="login-form-input">
                    <label>Interes*: <span (click)="delInt(0)">X</span></label>
                    <input type="text" placeholder="Interes" formControlName="i">
                    <small class="bg-danger text-light mt-1 px-2 py-1 rounded" *ngIf="interest.errors && loginSubmitted">
                        <ng-container ngSwitch="interest.value">
                            <ng-container *ngSwitchCase="''">El interes es requerido!</ng-container>
                            <ng-container *ngSwitchDefault>El interes debe tener almenos 10 caracteres!</ng-container>
                        </ng-container>
                    </small>
                </div>
            </ng-container>
        <!------------------------>
            <div class="login-form-footer">
                <div class="login-form-footer_links">
                    <a href="#">Acerca de</a>
                    <a href="#">Contactanos</a>
                    <a href="#">Blog</a>
                </div>
                <div class="login-form-footer_socials">
                    <i class="fab fa-facebook-square login-form-footer_socials_social"></i>
                    <i class="fab fa-twitter-square login-form-footer_socials_social"></i>
                    <i class="fab fa-instagram-square login-form-footer_socials_social"></i>
                </div>
            </div>
        </div>
    </div>