
    <div class="login-container">
        <div class="login-form">
            <img src="/assets/images/logo_main.png" alt="Logo" class="login-form-logo">
            <div class="login-form-content">
                <h1>Bienvenido de nuevo</h1>
                <p>Gracias por volver a tu sitio favorito, por favor llenar el formulario.</p>
                <div class="login-form-input">
                    <label>Email*: </label>
                    <input type="email" placeholder="Email">
                </div>
                <div class="login-form-input">
                    <label>Contraseña*:</label>
                    <input type="password" placeholder="Contraseña">
                </div>
                <small>Olvidé contraseña</small>
                <div class="login-form-buttons">
                    <button class="login-form-buttons_signup">Registrarse</button>
                    <button class="login-form-buttons_signin"> Iniciar sesión</button>
                </div>
            </div>
            <div class="login-form-footer">
                <div class="login-form-footer_links">
                    <a href="#">Acerca de</a>
                    <a href="#">Contactanos</a>
                    <a href="#">Blog</a>
                </div>
                <div class="login-form-footer_socials">
                    <i class="fab fa-facebook-square login-form-footer_socials_social"></i>
                    <i class="fab fa-twitter-square login-form-footer_socials_social"></i>
                    <i class="fab fa-instagram-square login-form-footer_socials_social"></i>
                </div>
            </div>
        </div>
    </div>