<div class="row">
    <div class="col-12">
        <app-title-h1 text="LISTA DE USUARIOS"></app-title-h1>
    </div>
    <!-- <ng-container *ngIf="users; else elseUsersLoader;">
        <app-card-user [data]="user" *ngFor="let user of users;" class="col-12 col-md-6 col-xl-3"></app-card-user>
    </ng-container> -->

    <ng-container *ngIf="users; else elseusersloader;">
        <app-card-user [data]="user" *ngFor="let user of users;trackBy: trackByUserId" class="col-12 col-md-6 col-xl-3">
        </app-card-user>
    </ng-container>
    <div class="col-12">
        <button class="btn btn-primary mt-3 ml-3" (click)="newUser ()">Agregar usuario</button>
    </div>
    <div class="row">
        <div class="col-12">
            <h1>Lista de tareas</h1>
        </div>
        <div class="col-12" *ngFor="let task of tasks;index as i;:">
            <h2>tarea #</h2>
        </div>
    </div>
    <!----------------------
    How to use index
------------------------->
    <!-- <div class-"row">
<div class="col-12">
    <hi>Lista de tareas</h1>
</div>
<div class-"col-12" *ngFor-"let task of tasks;index as i;">
    <h2>Tarea #{{i + 1}} - {{task.title}} </h2>
</div>
</div> -->
 <!-- <div class="row">
        <div class-"col-12">
            <hi>Opciones de dias</hi>
        </div>
        <div class-"col-12" *ngFor-"1let option of options;first as isfirst; last as islast;">
            <h2>{{option}} {{isFirst || islast ? 'día': 'dias'}}</h2>
        </div>
</div> -->
<!--
Init loader of card user
    <!---------------------------------------------
        Init loader of card user
    ---------------------------------------------->
<ng-template #elseUsersLoader>
    <app-card-loader class="col-12 col-md-6 col-xl-3" [bars]="4" [barHeight]="7" *ngFor="let i of [0,1,2,3,4,5,6]">
    </app-card-loader>
</ng-template>
<!---------------------------------------------
        End loader of card user
    ---------------------------------------------->
</div>