<app-title-h1
[text]="'Nuevo Usuario'" #mainTitle>
</app-title-h1>
<div>
    <app-full-table>
        <tr recordsHead>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Trabajo</th>
        </tr>
        <tr recordsBody *ngFor="let user of users">
                <td>{{user.name}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.age}}</td>
                <td>{{user.position}}</td>
        </tr>
    </app-full-table>
</div>
<app-solid-button 
[title]="'Exito'"
[type]="$btntypes.SUCCESS"
(action)="mainTitle.text = 'Actualizar';
          mainButton.title = 'actualizar'"
#mainButton
></app-solid-button>