<div class="dsc-left-nav-brand">
    
    <div class="dsc-left-nav-brand__logo">
        <img src="{{ logo }}" alt="designicode-logo" />
        <span>etflix</span>
    </div>
</div>
<div class="dsc-left-nav-usr" *ngIf="this.authService.getUser">
    <div
        class="dsc-left-nav-usr__avatar"
    ></div>
    <h4 class="dsc-left-nav-usr__name">
        {{ this.authService.getUser.fullname }}
    </h4>
    <h6 class="dsc-left-nav-usr__position">
        {{ this.authService.getUser.role }}
    </h6>
</div>
<ng-container *ngFor="let menu of menus">
</ng-container>
