<div class="dsc-header_brand">
    <i class="fas fa-bars dsc-header__brand-menu js-hide-show-menu"></i>
     <div class="dsc-header_brand-logo">
          <img src="assets/images/logo.png" alt="desinicode-logo">
          <span>etFlix</span>
                                           
     </div>
 </div>
 <div class="dsc-header__submenu">
    <i class="fas fa-bell dsc-header_submenu-icon"></i>
    <i class="fas fa-comment dsc-header submenu-icon"></i>
     <div class="dsc-header_submenu-usr" style = "background-image: url(assets/images/avatar.jpg)"></div>
 </div>
                           