<div class="dsc-header_brand">
    <fa-icon [icon]="faBars" class="dsc-header__brand-menu" (click)="showMenu.emit()"></fa-icon>
     <div class="dsc-header_brand-logo">
          <img [src]="logo" alt="desinicode-logo">
          <span>etFlix</span>
                                           
     </div>
 </div>
 <div class="dsc-header__submenu">
    <fa-icon [icon]="faBell" class="dsc-header_submenu-icon" ></fa-icon>
    <fa-icon [icon]="faComment" class="dsc-header submenu-icon" ></fa-icon>
     <div class="dsc-header_submenu-usr" [ngStyle] ="{'background-image': 'url(' + avatar + ')'}" *ngIf="this.authService.getUser"></div>
 </div>
                           